/Queuectl-backend/node_modules
/Queuectl-frontend/node_modules

/Queuectl-backend/.env
/Queuectl-frontend/.env

/Queuectl-backend/dist
/Queuectl-frontend/dist

/Queuectl-backend/queuectl.db

DS_Store
vscode/